#wrapper {
  background-color: #f5f5f5;
}

#errorTextContainer {
  margin-top: 10%;
}

#imgContainer {
  width: 17vh;
}

h1, span {
  color: rgb(93,93,93);
}

#errorCode {
  font-size: 14px;
}

span {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 18px;
}
