<div #imageBlockContainer class="d-flex flex-wrap w-100 file-container">
  <div #imageBlock *ngFor="let imageBlock of fileCollection.images" class="image-block mr-1 mb-1" [style.width.%]="setImageWidth()">
    <img class="img-fluid" [src]="imageBlock.src | safeUrl" alt="{{imageBlock.name}}">
    <div class="close-button" (click)="deleteFile(imageBlock)"><span class="mdi mdi-close-box lh-1 close"></span></div>
    <div class="enlarge-image-button" (click)="enlargeImage()"><span class="mdi mdi-magnify-plus-outline mdi-36px mdi-rotate-90 lh-1 close"></span></div>
  </div>
</div>
<div #videoBlockContainer class="d-flex flex-wrap w-100 file-container">
  <div #videoBlock *ngFor="let videoBlock of fileCollection.video" class="image-block embed-responsive mr-1 mb-1" [style.width.%]="setImageWidth()">
    <video [src]="videoBlock.src | safeUrl" class="embed-responsive-item" controls></video>
    <div class="close-button" (click)="deleteFile(videoBlock)"><span class="mdi mdi-close-box lh-1 close"></span></div>
  </div>
</div>
<div #audioBlockContainer class="w-100 file-container">
  <div #audioBlock *ngFor="let audioFile of fileCollection.audio" class="d-flex w-100">
    <div class="w-90">
      <app-audio-player [audioFile]="audioFile"></app-audio-player>
    </div>
    <div class="d-flex w-10 justify-content-center align-items-center">
      <span class="mdi mdi-close-thick lh-1 simple-close-button" (click)="deleteFile(audioBlock)"></span>
    </div>
  </div>
</div>
<div #fileBlockContainer class="d-flex flex-wrap w-100 file-container mb-2">
  <div #fileBlock *ngFor="let fileBlock of fileCollection.files" class="d-flex w-49 mr-1 mb-1">
    <div class="d-flex w-15 p-0 justify-content-center align-items-center">
      <img src="./../../assets/img/file.svg" class="img-fluid m-0"/>
    </div>
    <div class="p-0 w-75">
      <div class="w-100 h-50 d-flex align-items-end p-0 ml-1">
        <span class="text-light lh-1 mb-0" id="fileName">{{fileBlock.name}}</span><br />
      </div>
      <div class="w-100 h-50 d-flex align-items-start p-0 ml-1">
        <span class="lh-1" id="fileSize">{{fileBlock.size}} КБ</span>
      </div>
    </div>
    <div class="d-flex w-10 justify-content-center align-items-center">
      <span class="mdi mdi-close-thick lh-1 simple-close-button" (click)="deleteFile(fileBlock)"></span>
    </div>
  </div>
</div>
