<div id="wrapper" class="w-100 h-100">
  <div id="errorTextContainer" class="w-50 mx-auto">
    <div class="mx-auto" id="imgContainer">
      <img class="img-fluid" src="../../../assets/img/where.png" alt="Страница не найдена">
    </div>
    <h1 class="text-center mt-5">Страница не найдена</h1>
    <div class="w-100 d-flex justify-content-center mt-5">
      <span> Упс! Мы не смогли найти страницу, которую вы искали. </span>
    </div>
    <div class="w-100 d-flex justify-content-center mt-2">
      <span> Пожалуйста, проверьте адрес и попробуйте снова. </span>
    </div>
    <div class="w-100 d-flex justify-content-center mt-5">
      <span id="errorCode"><b> Error Code: </b> 404 </span>
    </div>
  </div>
</div>

