<div #imageBlockContainer class="d-flex flex-wrap w-100 file-container" id="imageBlockContainer"
     [ngClass]="{'d-none': !fileCollection.images?.length, 'mb-3': fileCollection.images?.length, 'disable-scrollbar disable-scrollbar::-webkit-scrollbar': mode === filePreviewMode.message,
     'custom-scrollbar custom-scrollbar::-webkit-scrollbar-thumb': mode === filePreviewMode.preview}">
  <div #imageBlock *ngFor="let imageBlock of fileCollection.images" class="image-block round-borders mr-1"
       [style.width.%]="setPreviewWidth(fileCollection.images)">
    <img class="img-fluid round-borders" id="imgPreview" [src]="imageBlock.src | blobToSrc: imageBlock | safeUrl" alt="{{imageBlock.name}}" (click)="showImageModal(imageBlock, imgModalContent)">
    <div *ngIf="mode === filePreviewMode.preview" class="close-button" (click)="deleteFile(imageBlock)"><span class="mdi mdi-close-box lh-1 close"></span></div>
  </div>
</div>
<!-- Img Modal -->
<div id="imgModalBackground" [style.display]="isImgModalVisible ? 'block' : 'none'" (click)="hideImageModal()">
  <div class="d-flex" id="modalContent">
    <img #imgModalContent class="img-fluid">
    <span class="lh-1" id="closeImgModal" (click)="hideImageModal()">&times;</span>
  </div>
</div>

<div #videoBlockContainer class="d-flex flex-wrap w-100 file-container" id="videoBlockContainer"
     [ngClass]="{'d-none': !fileCollection.video?.length, 'mb-3': fileCollection.video?.length, 'disable-scrollbar disable-scrollbar::-webkit-scrollbar': mode === filePreviewMode.message,
     'custom-scrollbar custom-scrollbar::-webkit-scrollbar-thumb': mode === filePreviewMode.preview}">
  <div #videoBlock *ngFor="let videoBlock of fileCollection.video" class="video-block mr-1 mb-1" [style.width.%]="setPreviewWidth(fileCollection.video)">
    <video #video [src]="mode === filePreviewMode.preview ? videoBlock.src : null" class="w-100 h-auto" controls
           [poster]="mode === filePreviewMode.message && !video?.src?.startsWith('data:') ? './../../../assets/img/upload.jpg' : null"></video>
    <div *ngIf="mode === filePreviewMode.preview" class="close-button" (click)="deleteFile(videoBlock)"><span class="mdi mdi-close-box lh-1 close"></span></div>
    <div *ngIf="videoBlock.id && !video?.src?.startsWith('data:')" id="getFileDataButton" class="close-button" (click)="getVideoData(video, videoBlock)"
         [ngClass]="mode === filePreviewMode.message ? 'mt-1 mr-1' : 'mt-0 mr-4'">
      <span class="mdi mdi-download-circle lh-1 close" id="getFileDataButton" placement="top" container="body"
            ngbTooltip="Нажмите на кнопку, чтобы подгрузить видео для просмотра. Пока только так. &#10; ¯\_(ツ)_/¯"></span>
    </div>
    <div class="mx-1">
      <span class="small text-wrap" [ngClass]="mode === filePreviewMode.preview ? 'text-light' : 'dark-color-text'">{{videoBlock.name | cutLongString: 30:'  [ ... ]'}}</span>
    </div>
  </div>
</div>

<div #audioBlockContainer class="w-100 file-container pt-0" id="audioBlockContainer"
     [ngClass]="{'d-none': !fileCollection.audio?.length, 'mb-3': fileCollection.audio.length}">
  <div #audioBlock *ngFor="let audioBlock of fileCollection.audio" class="d-flex w-100">
    <div class="w-95">
      <app-audio-player [audioFile]="audioBlock" [mode]="mode"></app-audio-player>
    </div>
    <div *ngIf="mode === filePreviewMode.preview" class="d-flex w-5 justify-content-center align-items-center">
      <span class="mdi mdi-close lh-1 simple-close-button close" (click)="deleteFile(audioBlock)"></span>
    </div>
  </div>
</div>

<div #fileBlockContainer class="d-flex flex-wrap w-100 pt-0 file-container" id="fileBlockContainer"
     [ngClass]="{'d-none': !fileCollection.files?.length, 'mb-3': fileCollection.files?.length}">
  <div #fileBlock *ngFor="let fileBlock of fileCollection.files" class="d-flex w-50" id="fileBlock">
    <div class="d-flex w-15 p-0 justify-content-center align-items-center">
      <img src="./../../assets/img/file.svg" class="img-fluid m-0" />
    </div>
    <div class="p-0 w-75">
      <div class="w-100 h-50 overflow-hidden ml-1">
        <a #a [href]="" class="text-decoration-none mb-1" id="fileNameLink" download="{{fileBlock.name}}" (click)="setFileUrl(fileBlock, 'file', a)">
          <span class="text-nowrap lh-1" id="fileName" [ngClass]="mode === filePreviewMode.preview ? 'text-light' : 'dark-color-text'">
            {{fileBlock.name}}
          </span><br />
        </a>
      </div>
      <div class="w-100 h-50 d-flex align-items-start ml-1">
        <span class="lh-1 mt-1" id="fileSize">{{fileBlock.size | fileSize}}</span>
      </div>
    </div>
    <div *ngIf="mode === filePreviewMode.preview" class="d-flex w-10 justify-content-center align-items-center">
      <span class="mdi mdi-close lh-1 simple-close-button close" (click)="deleteFile(fileBlock)"></span>
    </div>
  </div>
</div>
