<noscript>
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3>Упс! Что-то пошло не так!</h3>
    </div>
    <div class="panel-body text-center">
      <h5>Ваш браузер не обрабатывает JavaScript</h5>
      <h5>Зайдите в настройки браузера и включите обработку скриптов</h5>
    </div>
  </div>
</noscript>

<ngb-alert #selfClosingAlert type="success" class="ng-alert" [dismissible]="false" *ngIf="showAlert" (closed)="report = {}"> {{ alertText }} </ngb-alert>

<div class="container-fluid enter-form-wrapper">
  <div class="container">
    <div class="toast" style="position: absolute; top: 10%; right: 10%; z-index: 2;">
      <div class="toast-body bg-danger text-light"></div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 form-group form-container mt-25per">
        <form id="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-row justify-content-center align-items-center">
            <span class="mdi mdi-login mdi-48px dark-color-text"></span><h1 class="dark-color-text lh-1 mt-2"> Вход </h1>
          </div>
          <div class="form-row justify-content-center mt-3 has-float-label">
            <span class="col-1 mdi mdi-account mdi-24px mt-4 dark-color-text border-bottom-dark"></span>
            <input class="col-10 mt-4" type="text" name="email" id="loginEmail" placeholder="Введите email" [(ngModel)]="params.email" />
            <label for="loginEmail"> Email </label>
          </div>
          <div class="form-row justify-content-center has-float-label">
            <span class="col-1 mdi mdi-lock mdi-24px mt-4 dark-color-text border-bottom-dark"></span>
            <input class="col-10 mt-4" type="password" name="password" id="loginPassword" placeholder="Введите пароль" [(ngModel)]="params.password" />
            <label for="loginPassword"> Пароль </label>
          </div>
          <button class="mt-5 btn dark-login-button d-flex justify-content-center align-items-center w-80 mx-auto" type="submit" id="loginButton">
            <div class="d-flex justify-content-center align-items-center">
              <span class="spinner-border spinner-border-sm text-light mr-3" role="status" aria-hidden="true" id="loginSpinner"></span>
            </div>
            <span class="dark-color-text">Войти</span>
          </button>
        </form>
        <div class="col-12 mt-3 mb-4 d-flex justify-content-center align-items-center flex-wrap">
          <a routerLink="/restore" class="mr-1 text-decoration-none text-center dark-color-text" id="restore"> Забыли пароль? </a> | <a routerLink="/register" class="ml-1 text-decoration-none text-center dark-color-text"> Зарегистрироваться </a>
        </div>
      </div>
    </div>
  </div>
</div>
