input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #F6F6F6 inset;
}

span.submit-error,
#loginEmail.ng-invalid.submit-error,
#loginEmail.ng-invalid.ng-touched,
#loginPassword.ng-invalid.ng-touched,
#loginPassword.ng-invalid.ng-dirty,
#loginPassword.ng-invalid.submit-error {
  border-bottom: 2px solid #DC143C;
}

a:hover {
  color: black;
  text-shadow: 0px 0px 1px #F6F6F6;
}

p {
  font-family: Roboto_Slab_reg, Arial, sans-serif;
  font-size: 18px;
}

.alert-text {
  color: #DC143C;
}

.border-bottom-dark {
  border-bottom: 2px solid #1B5891;
}

.form-container span,
.form-container a {
  font-size: 14px;
}

.enter-form-wrapper {
  background: url(./../../../assets/img/LoginBackground.JPG) no-repeat center top;
  background-size: contain;
  background-position: left;
  width: 100%;
  height: 100vh;
}

#loginEmail,
#loginPassword {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  background-color: #F6F6F6;
}

#loginSpinner {
  display: none;
}

.has-float-label {
  position: relative;
}

.has-float-label label {
  position: absolute;
  font-size: 80%;
  left: 50px;
  top: 10px;
  cursor: text;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.has-float-label input:placeholder-shown:not(:focus) + * {
  font-size: 100%;
  opacity: 0.6;
  top: 1.8em;
}

.has-float-label input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.has-float-label input::-moz-placeholder {
  opacity: 1;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.has-float-label input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.has-float-label input::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.has-float-label input::placeholder {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.has-float-label input:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}

.has-float-label input:placeholder-shown:not(:focus)::-moz-placeholder {
  opacity: 0;
}

.has-float-label input:placeholder-shown:not(:focus):-ms-input-placeholder {
  opacity: 0;
}

.has-float-label input:placeholder-shown:not(:focus)::-ms-input-placeholder {
  opacity: 0;
}

.has-float-label input:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}
