<noscript>
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3>Упс! Что-то пошло не так!</h3>
    </div>
    <div class="panel-body text-center">
      <h5>Ваш браузер не обрабатывает JavaScript</h5>
      <h5>Зайдите в настройки браузера и включите обработку скриптов</h5>
    </div>
  </div>
</noscript>

<app-toasts class="toasts-container"></app-toasts>

<app-header #appHeader [authUserInfo]="authUserInfo"></app-header>

<div class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-lg-3">
        <div #groupMessageBlock id="groupMessageBlock" class="row">

          <!--Show all user groups-->
          <div #group *ngFor="let group of authUserMessageGroups; trackBy: groupsTrackFn" class="col-12 col-lg-11 mt-lg-2 message-group round-borders">
            <div *ngIf="group.id != editMessageGroupFormId" class="row align-items-center">
              <div class="col-9 col-lg-8 col-xl-9 d-flex pl-0">
                <input type="radio" id="{{group.id}}" name="groupButton" [value]="group.id" [(ngModel)]="selectedGroupId">
                <div [style.visibility]="selectedGroupId == group.id ? 'visible' : 'hidden'" class="fakeRadioButton">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="col-lg-12 px-2 py-0 m-0 h-100 w-100" (click)="changeMessageGroup()">
                  <label for="{{group.id}}" class="w-100 py-2 ml-2">
                    <span class="text-light text-wrap text-break" id="groupLabel">{{group.name}}</span>
                  </label>
                </div>
              </div>
              <div class="col-1 d-flex justify-content-center align-items-center edit-existing-group" (click)="editMessageGroupFormId = group.id">
                <span class="mdi mdi-pencil mdi-24px text-light"></span>
              </div>
              <button type="button" style="outline: none;" class="col-1 d-flex justify-content-center align-items-center delete-existing-group"
                      (click)="modalOpen('post' ,'Удаление группы', 'Вы действительно хотите удалить группу сообщений?', group.id, 'api/messageGroup/delete')">
                <span class="mdi mdi-close-outline mdi-24px text-light"></span>
              </button>
            </div>

            <!--Form for updating existing group-->
            <form *ngIf="group?.id == editMessageGroupFormId && editMessageGroupFormId != null" #editForm="ngForm" autocomplete="off" (ngSubmit)="updateMessageGroup(group.id, editForm)">
              <div class="row align-items-center py-2">
                <div class="col-9 col-lg-8 col-xl-9">
                  <input #updateGroupName type="text" class="round-borders w-100" [ngClass]="{'submit-error': editForm.submitted}" name="updateGroupName" id="updateGroupName"
                         ngModel focus required pattern="^.{1,20}$" maxlength="21">
                </div>
                <button type="submit" class="col-1 d-flex justify-content-center align-items-center create-new-group-button">
                  <span class="mdi mdi-check-bold mdi-24px text-light create-new-group"></span>
                </button>
                <div class="col-1 d-flex justify-content-center align-items-center stop-editing-existing-group" (click)="hideGroupUpdateForm()">
                  <span class="mdi mdi-close-outline mdi-24px text-light"></span>
                </div>
              </div>
            </form>
          </div>

        </div>

        <!--Button with form for new group creation-->
        <div class="row">
          <div *ngIf="showGroupCreationForm" class="col-12 col-lg-11 mt-lg-2 message-group round-borders">
            <form #newform="ngForm" autocomplete="off" novalidate (ngSubmit)="createNewMessageGroup(newform)">
              <div class="row align-items-center py-2">
                <div class="col-9 col-lg-8 col-xl-9">
                  <input #newGroupName type="text" class="round-borders w-100" [ngClass]="{'submit-error': newform.submitted}" name="newGroupName" id="newGroupName"
                         ngModel focus required pattern="^.{1,20}$" maxlength="21">
                </div>
                <button type="submit" class="col-1 d-flex justify-content-center align-items-center create-new-group-button">
                  <span class="mdi mdi-check-bold mdi-24px text-light create-new-group"></span>
                </button>
                <div class="col-1 d-flex justify-content-center align-items-center" (click)="hideGroupCreationForm()">
                  <span class="mdi mdi-close-outline mdi-24px text-light delete-new-group"></span>
                </div>
              </div>
            </form>
          </div>

          <!--Button to show form for new group creation-->
          <div class="col-12 col-lg-11 mt-lg-2 message-group round-borders" id="addNewGroupButton" (click)="showGroupCreationForm = true">
            <div class="row align-items-center py-2">
              <div class="col-1"><span class="mdi mdi-plus-thick mdi-24px text-light"></span></div>
              <div class="col-9 col-lg-10 d-flex align-items-center"><span class="text-light"> Добавить группу </span></div>
            </div>
          </div>
        </div>
      </div>

      <!--Search field-->
      <div class="col-lg-6">
        <div class="row">
          <div #searchBlock class="col-12 py-0" id="searchBlock">
            <div class="row justify-content-end">
              <div class="col-auto my-0" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <form #searchForm="ngForm" class="form-group my-0" id="searchForm" name="searchForm" autocomplete="off" (ngSubmit)="searchMessages(searchForm)">
                  <input #searchInput type="text" class="mt-3 mx-2 h-50 search-input" [ngClass]="{'submit-error': searchForm.submitted}" id="searchInput"
                         [(ngModel)]="searchString" name="searchInput" placeholder="Поиск" autocomplete="off" required pattern="^.{1,20}$" maxlength="21" />
                </form>
              </div>
              <div class="col-auto my-0" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" (click)="searchInput.focus()">
                <button class="btn dark-login-button mt-1" type="submit" form="searchForm"> <span class="dark-color-text"> Поиск </span></button>
              </div>
              <div class="col-auto my-0" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [attr.aria-expanded]="!isCollapsed">
                <button class="btn dark-login-button dark-color-text mt-1" (click)="stopSearchMessages(searchForm)"> <span class="dark-color-text"> Отмена </span></button>
              </div>
              <div class="col-auto d-flex align-items-center" (click)="searchInput.focus()">
                <span class="mdi mdi-magnify mdi-24px my-2" id="searchButton" (click)="isCollapsed = false" [attr.aria-expanded]="!isCollapsed"
                      [style.visibility]="isCollapsed ? 'visible' : 'hidden' "></span>
              </div>
            </div>
          </div>

          <!--Block with user messages-->
          <div #messageBlock id="messageBlock" class="col-12" (scroll)="uploadNewMessages()">
            <h2 *ngIf="authUserMessageGroups.length === 0" class="text-center mx-2" id="createGroupNotification">
              Создавайте группы в меню слева для сохранения в них ваших сообщений
            </h2>
            <div *ngIf="authUserMessageGroups.length > 0" style="flex: 1 0 auto;"></div>

            <div *ngIf="authUserMessageGroups.length > 0" class="w-100">
              <div *ngFor="let group of authUserMessageGroups" class="w-100">
                <div *ngIf="group.id == selectedGroupId" class="w-100">
                  <div #message *ngFor="let message of group.messages; trackBy: groupsTrackFn" class="row">
                    <div class="col-12 message" id="message{{message.id}}">
                      <div class="row mt-lg-3 align-items-center">
                        <div class="col-8 col-lg-9">
                          <p class="message-created-at text-center ml-lg-5" id="{{message.id}}messageCreatedAt"> {{message.createdAt | dateToLocale: 'ru'}} </p>
                        </div>
                        <div class="col-1" (click)="toggleEditingMessageForm(true, message.id, message.text)">
                          <p class="text-center"><span class="mdi mdi-pencil mdi-dark edit-message"></span></p>
                        </div>
                        <button type="button" style="outline: none;" class="col-1 delete-message"
                                (click)="modalOpen('post' ,'Удаление сообщения', 'Вы действительно хотите удалить сообщение?', message.id, 'api/messages/delete')">
                          <p class="text-center"><span class="mdi mdi-close-outline mdi-dark"></span></p>
                        </button>
                      </div>
                      <p class="text-left text-break mx-3 mb-lg-5" id="messageText"> {{message.text}} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--New mesage creating block (form)-->
          <div #enterMessageBlock class="col-12" id="enterMessageBlock">

            <div #messageEditingBlock class="col-12 d-none">
              <div class="row">
                <div class="col-11 mb-1"><span class="text-light"> Редактирование сообщения </span></div>
                <div class="col-1 mb-1 close-editing-message" (click)="toggleEditingMessageForm(false, null)"><span class="mdi mdi-close text-light"></span></div>
              </div>
            </div>

            <div class="row justify-content-center">
              <ng-template #attachFiles>
                <div  class="w-100" (mouseenter)="isFileMenuActive=true" (mouseleave)="t.close(); isFileMenuActive=false">
                  <div class="d-flex attach-file-option w-100" (click)="attachFileModalOpen('image' ,'Добавление фотографии', 'Для загрузки доступны фото размером не более 1 Мб')">
                    <div class="col-2 pl-2 my-1">
                      <span class="mdi mdi-camera-outline attach-file-icon text-light lh-1 d-block my-1"></span>
                    </div>
                    <div class="col-10 pl-3 pr-0 my-1">
                      <span class="text-light text-left lh-1 d-block my-2"> Фотография </span>
                    </div>
                  </div>
                  <div class="d-flex attach-file-option w-100" (click)="attachFileModalOpen('video' ,'Добавление видео', 'Для загрузки доступны видео размером не более 100 Мб')">
                    <div class="col-2 pl-2 my-1">
                      <span class="mdi mdi-play-circle-outline attach-file-icon text-light lh-1 d-block my-1"></span>
                    </div>
                    <div class="col-10 pl-3 pr-0 my-1">
                      <span class="text-light text-left lh-1 d-block my-2"> Видеозапись </span>
                    </div>
                  </div>
                  <div class="d-flex attach-file-option w-100" (click)="attachFileModalOpen('audio' ,'Добавление аудиофайла', 'Для загрузки доступны аудиофайлы размером не более 20 Мб')">
                    <div class="col-2 pl-2 my-1">
                      <span class="mdi mdi-music attach-file-icon text-light lh-1 d-block my-1"></span>
                    </div>
                    <div class="col-10 pl-3 pr-0 my-1">
                      <span class="text-light text-left lh-1 d-block my-2"> Аудиозапись </span>
                    </div>
                  </div>
                  <div class="d-flex attach-file-option w-100" (click)="attachFileModalOpen('file' ,'Добавление файла', 'Для загрузки доступны файлы размером не более 100 Мб')">
                    <div class="col-2 pl-2 my-1">
                      <span class="mdi mdi-file-outline attach-file-icon text-light lh-1 d-block my-1"></span>
                    </div>
                    <div class="col-10 pl-3 pr-0 my-1">
                      <span class="text-light text-left lh-1 d-block my-2"> Файл </span>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div class="col-auto d-flex align-items-start p-0" id="attachFileButton" [ngbTooltip]="attachFiles" tooltipClass="attach-files" [autoClose]="false"
                   triggers="manual" #t="ngbTooltip" (mouseenter)="t.open()" (mouseleave)="closeFileMenu(t)">
                <span class="mdi mdi-paperclip mdi-36px mdi-rotate-45 lh-1 mt-3"></span>
              </div>
              <div class="col-8 col-sm-10 px-1 px-sm-2" id="enterMessageContainer">
                <form #createNewMessageForm="ngForm" class="form-group" id="enterMessageForm" name="enterMessageForm" autocomplete="off" (ngSubmit)="createAndUpdateMessage(createNewMessageForm)">
                  <textarea #enterMessageField class="form-control mt-3" [ngClass]="{'submit-error': createNewMessageForm.submitted}"  name="enterMessage" rows="1"
                            id="enterMessageField" placeholder="Введите сообщение" (keydown.enter)="createAndUpdateMessage(createNewMessageForm);false" (ngModelChange)="setMessageCreationFormHeight()"
                            [(ngModel)]="newMessage.text" autofocus pattern="^.{1,5001}$" maxlength="5010"> 
                  </textarea>
                </form>
                <div class="w-100">
                  <app-file-preview [fileCollection]="newMessage.fileCollection" (changeFilesEvent)="setChangedFilesCollection($event)"
                                    [style.display]="!isMessageCreationProcess ? 'block' : 'none'"></app-file-preview>
                  <div class="spinner ml-2" [style.display]="isMessageCreationProcess ? 'block' : 'none'">
                    <div class="rect1 my-auto"></div>
                    <div class="rect2 my-auto"></div>
                    <div class="rect3 my-auto"></div>
                    <div class="rect4 my-auto"></div>
                    <div class="rect5 my-auto"></div>
                  </div>
                </div>
              </div>
              <button type="submit" form="enterMessageForm" class="col-auto d-flex align-items-start p-0" id="sendMessageButton" [disabled]="isMessageCreationProcess">
                <span class="mdi mdi-send-circle mdi-36px lh-1 mt-3" id="sendMessageButtonIcon"></span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="row justify-content-end">
          <div class="col-lg-11" id="datesBlock">
            <div class="mt-lg-4 mb-lg-4 w-100">
              <iframe [src]="(selectedNewsCategory || '//mediarepost.ru/widget-news?cat=1&fon=gray') | safeUrl" class="d-block mx-auto" width="220" height="450" style="border:0;"></iframe>
              <div class="news-text-container d-block mx-auto mt-3">
                <span class="font-weight-light" id="newsTextDescription">Возможно, вам захочется сохранить себе что-то из этих новостей.</span>
              </div>
              <div class="news-text-container d-block mx-auto mt-3">
                <small>Выберите категорию:</small>
              </div>
              <!--https://github.com/ng-select/ng-select-->
              <ng-select [(ngModel)]="selectedNewsCategory" class="mx-auto mt-1" id="newsSelect">
                <ng-option *ngFor="let cat of newsCategories" [value]="cat.url">{{cat.name}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
