#datesBlock {
  border: 2px solid grey;
}

#searchInput.ng-invalid.ng-dirty,
#searchInput.ng-invalid.submit-error {
  border-bottom: 2px solid #DC143C;
}

#updateGroupName.ng-invalid.ng-touched,
#updateGroupName.ng-invalid.ng-dirty,
#updateGroupName.ng-invalid.submit-error,
#newGroupName.ng-invalid.ng-touched,
#newGroupName.ng-invalid.ng-dirty,
#newGroupName.ng-invalid.submit-error,
#enterMessageField.ng-invalid.ng-dirty,
#enterMessageField.ng-invalid.submit-error {
  border: 2px solid #DC143C;
  box-shadow: 0 0 5px #DC143C;
}

#searchBlock {
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: none;
}

#searchButton:hover {
  cursor: pointer;
}

#groupMessageBlock {
  max-height: 400px;
  overflow-y: scroll;
}

.message-group-noclick {
  display: inline-block;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(#1B5891, rgb(13,25,47)) #1B5891;
  box-shadow: 0 1px rgba(255,255,255,.2) inset, 0 3px 5px rgba(0,1,6,.5), 0 0 1px 1px rgba(0,1,6,.2);
}

.message-group {
  position: relative;
  display: inline-block;
  color: rgb(209,209,217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  outline: none;
  border-radius: 3px;
  background: linear-gradient(#1B5891, rgb(13,25,47)) #1B5891;
  box-shadow: 0 1px rgba(255,255,255,.2) inset, 0 3px 5px rgba(0,1,6,.5), 0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
}

.message-group:hover:not(:active) {
  background: linear-gradient(rgb(29,107,173), rgb(13,25,47)) rgb(29,107,173);
  cursor: pointer;
}

.message-group:active {
  top: 1px;
  background: linear-gradient(#090B18, #0A1527) #090B18;
  box-shadow: 0 0 1px rgba(0,0,0,.5) inset, 0 2px 3px rgba(0,0,0,.5) inset, 0 1px 1px rgba(255,255,255,.1);
}

.message-group label {
  height: 100%;
  user-select: none;
}

.message-group label:hover {
  cursor: pointer;
}

#groupLabel,
#addNewGroupButton span {
  font-family: Roboto_Slab_reg, Arial, sans-serif;
}

.message-group input[type=radio] {
  display: none;
}

.fakeRadioButton {
  display: block;
  border-radius: 3px;
  position: relative;
  background: #32CD32;
  width: 14px;
  height: 10px;
  box-shadow: 0 0 10px 6px #32CD32;
  top: 10px;
  left: 10px;
  transition: 100ms;
}

.edit-existing-group:hover span {
  cursor: pointer;
  transform: scale(1.1);
}

.edit-existing-group:active span {
  top: 1px;
  transform: scale(0.9);
}

.create-new-group-button,
.delete-message,
.delete-existing-group {
  background-color: transparent;
  border: none;
}

.delete-existing-group:hover span {
  cursor: pointer;
  transform: scale(1.1);
}

.delete-existing-group:active span {
  top: 1px;
  transform: scale(0.9);
}

.create-new-group-button:active {
  border: none;
}

.create-new-group:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.create-new-group:active {
  top: 1px;
  transform: scale(0.9);
}

.stop-editing-existing-group:hover span {
  cursor: pointer;
  transform: scale(1.1);
}

.stop-editing-existing-group:active span {
  top: 1px;
  transform: scale(0.9);
}

.delete-new-group:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.delete-new-group:active {
  top: 1px;
  transform: scale(0.9);
}

#messageBlock {
  border-top: none;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  height: 100%;
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: scroll;
}

.search-input {
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #1B5891;
  outline: none;
  box-shadow: none;
  background: #F6F6F6;
}

#createGroupNotification {
  color: grey;
  margin-bottom: 40vh;
}

.message-created-at {
  font-family: Roboto_Slab_reg, Arial, sans-serif;
  color: darkgrey;
  font-size: 14px;
}

.message {
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.message:hover {
  background-color: lightgrey;
}

#messageText {
  font-family: Tahoma, Arial, sans-serif;
  white-space: pre-wrap;
}

.edit-message,
.delete-message,
.close-editing-message {
  cursor: pointer;
}

#enterMessageBlock {
  background: linear-gradient(rgb(29,107,173), rgb(13,25,47)) rgb(29,107,173);
}

.attach-files .tooltip-inner {
  background: linear-gradient(rgb(29,107,173), rgb(13,25,47)) rgb(29,107,173);
  padding: 0;
  border-radius: 3px;
}

.attach-files .arrow::before {
  border-top-color: rgb(13,25,47);
}

.attach-file-icon {
  font-size: 22px;
}

.attach-file-option:hover {
  color: #F5F5F4;
  background: linear-gradient(rgb(29,107,173), rgb(13,25,47)) rgb(29,107,173);
  cursor: pointer;
}

#attachFileButton span,
#sendMessageButton span {
  color: #1e96a1;
  outline: none;
  border: none;
}

#attachFileButton span:hover {
  cursor: pointer;
  color: #06bab2;
}

#attachFileButton span:active {
  top: 1px;
  transform: scale(0.9);
}

#sendMessageButton {
  outline: none;
  border: none;
  background-color: transparent;
}

#sendMessageButton span:hover {
  cursor: pointer;
  color: #06bab2;
}

#sendMessageButton span:active {
  top: 1px;
  transform: scale(0.9);
}

#groupMessageBlock,
#messageBlock {
  scrollbar-face-color: #1B5891;
  scrollbar-color: rgb(13,25,47) transparent;
  scrollbar-width: thin;
}

#groupMessageBlock::-webkit-scrollbar,
#messageBlock::-webkit-scrollbar {
  width: 5px;
}

#groupMessageBlock::-webkit-scrollbar-thumb,
#messageBlock::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(#1B5891, rgb(13,25,47)) #1B5891;
}

#enterMessageField::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#enterMessageField {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
