<div class="container-fluid header">
  <div class="container">
    <div class="row header justify-content-sm-between align-items-center" id="header">
      <div class="col-12 col-sm-auto my-sm-3 d-flex justify-content-center align-items-center">
        <a routerLink="/" class="ml-lg-2 header-title text-decoration-none" id="headerTitle"> Your notepad online </a>
      </div>

      <div *ngIf="!authUserInfo?.email" class="col-12 col-sm-auto my-sm-3 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
        <a routerLink="/register" class="mr-2 text-decoration-none" id="register">Создайте аккаунт</a> <span class="text-light">или</span>
        <a routerLink="/login" class="btn login-button ml-2" id="login"> Войти </a>
      </div>

      <div *ngIf="authUserInfo?.email" class="col-12 col-sm-auto my-sm-3 mb-3 mb-sm-0 d-flex justify-content-end align-items-center">
        <div ngbDropdown placement="bottom-right" class="d-inline-block">
          <button class="btn login-button settings-button" id="headerMenu" ngbDropdownToggle>
            <span class="mdi mdi-text text-light"></span> <span class="text-light">&nbsp; Menu </span>
          </button>
          <div ngbDropdownMenu aria-labelledby="headerMenu">
            <a ngbDropdownItem routerLink="/main" class="btn option d-flex align-items-center"> <span class="mdi mdi-note-multiple-outline mdi-24px text-light mr-lg-2"> </span> Мои заметки </a>
            <a ngbDropdownItem routerLink="/profile" class="btn option mt-lg-2 d-flex align-items-center"> <span class="mdi mdi-account mdi-24px text-light mr-lg-2"></span> Профиль </a>
            <a ngbDropdownItem routerLink="/" class="btn option mt-lg-2 d-flex align-items-center" (click)="signOut()"> <span class="mdi mdi-exit-to-app mdi-24px text-light mr-lg-2"> </span> Выйти </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
