<noscript>
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3>Упс! Что-то пошло не так!</h3>
    </div>
    <div class="panel-body text-center">
      <h5>Ваш браузер не обрабатывает JavaScript</h5>
      <h5>Зайдите в настройки браузера и включите обработку скриптов</h5>
    </div>
  </div>
</noscript>

<app-header [authUserInfo]="authUserInfo"></app-header>

<app-toasts class="toasts-container mr-2"></app-toasts>

<ngb-progressbar class="pbar w-100" type="primary" height="7px" [value]="progressBarValue" [hidden]="isHidden"></ngb-progressbar>

<div class="container-fliud">
  <div class="container profile-container">
    <div class="row mt-5">
      <div class="col-12 col-lg-10 offset-lg-1 profile-panel round-border-top">
        <h1 class="text-center">Профиль</h1>
      </div>
      <div class="col-12 col-lg-10 offset-lg-1 profile-content">
        <div class="row align-items-center">
          <div class="col-5 col-sm-7"><p class="mt-5 ml-sm-2 ml-md-5" id="serverUptimeLabel"> Аптайм сервера: </p></div>
          <div class="col-7 col-sm-5"><p class="mt-5 text-success" id="serverUptime"> {{uptime | secondsToTime: 'uptime' || 'Загрузка...'}} </p></div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-md-6 d-flex align-items-center justify-content-center admin-button-container">
            <button type="button" class="btn btn-primary mt-5 w-50" (click)="openUserManagementModal()"><span> Редактирование пользователей </span></button>
          </div>
          <div class="col-12 col-md-6 d-flex align-items-center justify-content-center admin-button-container">
            <button type="button" class="btn btn-primary mt-5 w-50" (click)="openFeedbackModal()"><span> Просмотр <br> обратной связи </span></button>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-lg-10 offset-lg-1">
            <h4 class="mt-5 mb-5 text-center">Личные данные:</h4>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-5 col-sm-7"><p class="mt-4 ml-sm-2 ml-md-5" id="authUserEmailLabel"> Email: </p></div>
          <div class="col-7 col-sm-5"><p class="mt-4 text-success text-break" id="authUserEmail"> {{authUserInfo?.email || 'Загрузка...'}} </p> </div>
        </div>
        <div class="row align-items-center">
          <div class="col-5 col-sm-7"><p class="mt-3 ml-sm-2 ml-md-5" id="userCreatedAtLabel"> Дата регистрации: </p></div>
          <div class="col-7 col-sm-5"><p class="mt-3 text-success" id="userCreatedAt"> {{authUserInfo?.createdAt | dateToLocale: 'ru' || 'Загрузка...'}} </p></div>
        </div>
        <div class="row align-items-center">
          <div class="col-5 col-sm-7">
            <p class="mt-2 ml-sm-2 ml-md-5" id="loadedMessagesAmountLabel"> Количество единовременно загружаемых сообщений: </p>
          </div>
          <div class="col-7 col-sm-5">
            <p class="mt-3 text-success" id="messagesAmount"> {{(authUserInfo?.messagesToLoadAmount === 0 ? 'Все' : authUserInfo?.messagesToLoadAmount) || 'Загрузка...'}} </p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-5 col-sm-7"><p class="mt-4 ml-sm-2 ml-md-5" id="changePasswordKeyLabel"> Ключ для восстановления пароля: </p></div>
          <div class="col-7 col-sm-5">
            <p class="mt-4 text-break" id="isChangePasswordKeySet" [ngClass]="authUserInfo?.isChangePasswordKeySet === true ? 'text-success' : 'text-danger'">
              {{(authUserInfo?.isChangePasswordKeySet === true ? 'Задан' : 'Не задан') || 'Загрузка...'}}
            </p>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-lg-10 offset-lg-1 my-1">
            <h4 class="mt-5 mb-5 text-center">Безопасность:</h4>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-5 col-sm-7">
            <p class="mt-3 ml-sm-2 ml-md-5"> Последняя активность: </p>
          </div>
          <div class="col-7 col-sm-5" id=" lastRequestBlock">
            <span class="mt-3 text-success"> {{lastUserRequest.requestDate | dateToLocale: 'ru'}} </span>
            <span class="mt-3 ml-1 text-success"> ( {{lastUserRequest.country}}, {{lastUserRequest.city}} ) </span>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-5 col-sm-7">
          </div>
          <div class="col-7 col-sm-5">
            <span class="mt-1" id="showUserActivity" (click)="activityHistoryModalOpen()"> Показать историю активности </span>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-lg-10 offset-lg-1 mt-3">
            <h4 class="mt-5 mb-5 text-center">Изменение личных данных:</h4>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-5 col-sm-7">
            <p class="mt-4 ml-sm-2 ml-md-5" id="changeLoadedMessagesAmountLabel">
              Изменить количество единовременно загружаемых сообщений
              <i class="mdi mdi-lg mdi-help-circle-outline" placement="top" ngbTooltip="Укажите новое количество единовременно загружаемых сообщений.&#10;Минимум 20, максимум 10000. Или все сразу.">
              </i> :
            </p>
          </div>
          <div class="col-7 col-sm-5">
            <div class="d-flex align-items-center mt-4">
              <form #messagesToLoadForm="ngForm" id="messagesToLoadForm" (ngSubmit)="onMessagesToLoadFormSubmit(messagesToLoadForm)" novalidate>
                <input type="number" #messagesToLoad="ngModel" class="form-control" id="messagesToLoadAmount" name="messagesToLoadAmount"
                       [ngClass]="{'submit-error': messagesToLoadForm.submitted && !messagesToLoadForm.control.disabled && (messagesToLoadAmount < 20 || messagesToLoadAmount > 10000)}"
                       [(ngModel)]="messagesToLoadAmount" required min="20" max="10000" [disabled]="loadAllMessages">
              </form>
              <button type="submit" class="btn dark-login-button ml-2 ml-sm-3" form="messagesToLoadForm" id="messagesToLoadFormButton">
                <span class="dark-color-text"> Сохранить </span>
              </button>
            </div>
            <div class="w-100 d-flex align-items-center">
              <input type="checkbox" class="mt-1" name="loadAllMessages" [(ngModel)]="loadAllMessages">
              <span class="small lh-1 ml-1" (click)="loadAllMessages = !loadAllMessages"> Загружать все </span>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-5 col-sm-7">
            <p class="mt-4 ml-sm-2 ml-md-5">
              Задать новый ключ для восстановления пароля
              <i class="mdi mdi-lg mdi-help-circle-outline" placement="top" ngbTooltip="Укажите текстовый ключ (любой текст),
                  который будет использоваться при восстановлении пароля (если вы его забудете).&#10;Минимум 1, максимум 30 символов.">
              </i>:
            </p>
          </div>
          <div class="col-7 col-sm-5">
            <div class="d-flex align-items-center w-100 mt-4">
              <form #changeKeyForm="ngForm" id="changeKeyForm" (ngSubmit)="onChangeKeyFormSubmit(changeKeyForm)" novalidate>
                <input type="text" #changePasswordKey="ngModel" class="form-control" id="changePasswordKey" name="changePasswordKey"
                       [ngClass]="{'submit-error': changeKeyForm.submitted}" [(ngModel)]="keyForPasswordChange" required pattern="^.{1,30}$"
                       minlength="1" maxlength="31" [disabled]="isKeyChanging">
              </form>
              <button type="submit" class="btn dark-login-button ml-2 ml-sm-3" form="changeKeyForm" id="changeKeyFormButton" [disabled]="isKeyChanging">
                <span class="dark-color-text"> Сохранить </span>
              </button>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-7 col-sm-5 mb-5">
            <p class="mt-4 ml-sm-2 ml-md-5" id="changePasswordLabel">
              Изменить пароль:
            </p>
            <change-password [authUserInfo]="authUserInfo" [mode]="changePasswordMode.profile" (changePasswordResult)="getChangedPasswordResult($event)"
                             (changePasswordProgress)="showProgressBar($event)"></change-password>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
