p {
  font-family: Roboto_Slab_reg, Arial, sans-serif;
  font-size: 18px;
}

.profile-panel {
  padding: 20px 0;
  background-color: #F1F1F1;
  border: 2px solid grey;
}

.profile-content {
  background-color: white;
}






@media (max-width: 470px) {

  .profile-container h1 {
    font-size: 35px;
  }

  .profile-container p {
    font-size: 15px;
  }
}
