p {
  font-family: Roboto_Slab_reg, Arial, sans-serif;
  font-size: 18px;
}

.profile-panel {
  padding: 20px 0;
  background-color: #F1F1F1;
  border: 2px solid grey;
}

.profile-content {
  background-color: white;
}

.adminButtonContainer {
  height: 100px;
}

#messagesToLoadForm,
#changeKeyForm {
  width: 160px;
}

#messagesToLoadAmount::-webkit-outer-spin-button,
#messagesToLoadAmount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#messagesToLoadAmount {
  -moz-appearance: textfield;
}

#messagesToLoadAmount.submit-error,
#changePasswordKey.ng-invalid.ng-dirty,
#changePasswordKey.ng-invalid.submit-error {
  border: 2px solid #DC143C;
}

#showUserActivity {
  text-decoration: underline;
}

#showUserActivity:hover {
  text-decoration: none;
  cursor: pointer;
}






@media (max-width: 577px) {
  .profile-container h1 {
    font-size: 35px;
  }

  .profile-container p {
    font-size: 15px;
  }
}

@media (min-width: 100px) and (max-width: 576px) {

  label,
  #serverUptimeLabel,
  #serverUptime,
  #authUserEmailLabel,
  #userCreatedAtLabel,
  #loadedMessagesAmountLabel,
  #changeLoadedMessagesAmountLabel,
  #changePasswordLabel,
  #messagesToLoadFormButton,
  #lastRequestBlock span,
  button span {
    font-size: 14px;
  }

  input {
    font-size: 11px;
  }
}
