p {
  font-family: Roboto_Slab_reg, Arial, sans-serif;
  font-size: 18px;
}

.profile-panel {
  padding: 20px 0;
  background-color: #F1F1F1;
  border: 2px solid grey;
}

.profile-content {
  background-color: white;
}

#messagesToLoadForm {
  width: 90px;
}

#messagesToLoadCount::-webkit-outer-spin-button,
#messagesToLoadCount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#messagesToLoadCount {
  -moz-appearance: textfield;
}

#messagesToLoadCount.submit-error {
  border: 2px solid #DC143C;
}






@media (max-width: 577px) {

  .profile-container h1 {
    font-size: 35px;
  }

  .profile-container p {
    font-size: 15px;
  }
}

@media (min-width: 100px) and (max-width: 576px) {

  #serverUptimeLabel,
  #serverUptime,
  #authUserEmailLabel,
  #userCreatedAtLabel,
  #loadedMessagesAmountLabel,
  #changeLoadedMessagesAmountLabel,
  #messagesToLoadFormButton {
    font-size: 14px;
  }

  #loadAllMessagesLabel {
    font-size: 11px;
  }
}
