span, p {
  font-family: Tahoma, Arial, sans-serif;
}

#linkPreviewContainer {
  overflow-y: scroll;
}

#linkPreviewContainer {
  /*  scrollbar-face-color: #1B5891;*/
  scrollbar-color: #1e96a1 transparent;
  scrollbar-width: thin;
}

#linkPreviewContainer::-webkit-scrollbar {
  width: 10px;
  border-radius: 0;
}

#linkPreviewContainer::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #1e96a1;
}

#linkPreviewUrl {
  text-decoration: none;
}

#linkPreviewUrl:hover {
  cursor: pointer;
}

#closeButton {
  color: rgb(93,93,93);
}

#imageLinkPreviewBlock {
  overflow-x: hidden;
  overflow-y: hidden;
}

#closeButton:hover,
#imageLinkPreviewBlock:hover {
  cursor: pointer;
}

#descriptionLinkPreviewBlock {
  background-color: grey;
}

#descriptionUrl {
  color: lightgrey;
}

#title,
#descriptionUrl {
  font-size: 14px;
}
