<noscript>
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      <h3>Упс! Что-то пошло не так!</h3>
    </div>
    <div class="panel-body text-center">
      <h5>Ваш браузер не обрабатывает JavaScript</h5>
      <h5>Зайдите в настройки браузера и включите обработку скриптов</h5>
    </div>
  </div>
</noscript>

<app-toasts class="toasts-container"></app-toasts>

<div class="container-fluid enter-form-wrapper">
  <div class="container">
    <div class="toast" style="position: absolute; top: 10%; right: 10%; z-index: 2;">
      <div class="toast-body bg-danger text-light"></div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 form-group form-container mt-25per">
        <form id="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-row justify-content-center align-items-center">
            <span class="mdi mdi-account-check mdi-48px dark-color-text"></span><h1 class="dark-color-text lh-1 mt-2"> Регистрация </h1>
          </div>
          <div class="form-row justify-content-center mt-3 has-float-label">
            <span class="col-1 mdi mdi-account mdi-24px mt-4 dark-color-text border-bottom-dark"></span>
            <input class="col-10 mt-4" type="text" name="email" id="registerEmail" placeholder="Введите email" [(ngModel)]="params.email" />
            <label for="registerEmail"> Email </label>
          </div>
          <div class="form-row justify-content-center has-float-label">
            <span class="col-1 mdi mdi-lock mdi-24px mt-4 dark-color-text border-bottom-dark"></span>
            <input class="col-10 mt-4" type="password" name="password" id="registerPassword" placeholder="Введите пароль" [(ngModel)]="params.password" />
            <label for="registerPassword"> Пароль </label>
          </div>
          <div class="form-row justify-content-center has-float-label">
            <span class="col-1 mdi mdi-lock mdi-24px mt-4 dark-color-text border-bottom-dark"></span>
            <input class="col-10 mt-4" type="password" name="confirmPassword" id="registerConfirmPassword" placeholder="Подтвердите пароль" [(ngModel)]="params.confirmPassword" />
            <label for="registerConfirmPassword"> Пароль </label>
          </div>
          <button class="mt-5 btn dark-login-button d-flex justify-content-center align-items-center w-80 mx-auto" type="submit" [disabled]="isDisabled" id="registerButton">
            <div class="d-flex justify-content-center align-items-center">
              <span class="spinner-border spinner-border-sm text-light mr-3" role="status" aria-hidden="true" id="registerSpinner"></span>
            </div>
            <span class="dark-color-text">Зарегистрироваться</span>
          </button>
        </form>
        <div class="col-12 mt-3 mb-4 d-flex justify-content-center align-items-center flex-wrap">
          <span class="text-center dark-color-text"> Создавая аккаунт вы соглашаетесь с условиями </span> <a class="text-center" id="termsOfUse" data-toggle="modal" data-target="#termsOfUseModal"><ins class="dark-color-text"> "Пользовательского соглашения" </ins></a>
        </div>
      </div>
    </div>


    <!--Terms of use modal window-->
    <div class="modal fade" id="termsOfUseModal" tabindex="-1" role="dialog" aria-labelledby="termsOfUseModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="termsOfUseModalLabel">Пользовательское соглашение</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            На самом деле, никакого пользовательского соглашения пока нет, но в будущем, может быть, появится.
            <br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et nisi aliquet, aliquam sapien eget, lobortis mi.
            Phasellus ultricies, tortor quis consectetur consequat, lectus turpis posuere mauris, in tempus ante erat ac urna.
            Vivamus eget nibh quis diam tempus interdum id ut sapien. Sed est libero, scelerisque eu semper at.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
