p {
  font-family: Roboto_Slab_reg, Arial, sans-serif;
  font-size: 18px;
}

input.ng-invalid.submit-error,
textarea.ng-invalid.submit-error,
input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid red;
  box-shadow: 0 0 10px red;
}

#promoText p {
  color: #142C40
}

.tab-text {
  padding: 10px;
  border: 2px solid #50b6f4;
  border-left: 10px solid #50b6f4;
}

.dropdown-divider {
  border-color: #1B5891;
  border-width: 3px;
}

.footer {
  background-color: #0B2B51;
}

.footer-text {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #939597;
}

#feedbackText::-webkit-scrollbar { /* chrome based */
  width: 0px;
  background: transparent;
}

#feedbackText {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

#feedbackText::-webkit-scrollbar { /* chrome based */
  width: 0px;
  background: transparent;
}

#feedbackText {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

#feedbackContacts,
#feedbackText {
  background-color: transparent;
  overflow: auto;
  color: #F6F6F6;
}






@media (min-width: 1201px) {
  #promoText {
    margin-top: 150px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  #promoText {
    margin-top: 120px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #promoText {
    margin-top: 50px;
    font-size: 28px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {

  #promoText {
    margin-top: 50px;
  }

  #howItWorks h1
  #appDescription h1,
  #promoText h1 {
    font-size: 27px;
  }

  #howItWorks p,
  #wasCreatedFor p,
  #appDescription p,
  #promoText p {
    font-size: 15px;
  }

  #smartphone {
    display: none;
  }
}

@media (min-width: 471px) and (max-width: 576px) {

  #promoText {
    margin-top: 50px;
  }

  #promoText h1 {
    font-size: 25px;
  }

  #promoText p {
    font-size: 15px;
  }

  #howItWorks h1,
  #appDescription h1 {
    font-size: 30px;
  }

  #howItWorks p,
  #wasCreatedFor p,
  #appDescription p {
    font-size: 15px;
  }

  #smartphone {
    display: none;
  }
}

@media (min-width: 351px) and (max-width: 470px) {
  #promoText {
    margin-top: 50px;
  }

  #promoText h1 {
    font-size: 17px;
  }

  #promoText p {
    font-size: 8px;
  }

  #howItWorks h1,
  #appDescription h1 {
    font-size: 30px;
  }

  #howItWorks p,
  #wasCreatedFor p,
  #appDescription p {
    font-size: 15px;
  }

  #smartphone {
    display: none;
  }

  #createGroupNotification {
    font-size: 25px;
    margin-bottom: 30vh;
  }
}

@media (max-width: 350px) {
  #promoText {
    margin-top: 50px;
  }

  #promoText h1 {
    font-size: 15px;
  }

  #promoText p {
    font-size: 7px;
  }

  #howItWorks h1,
  #appDescription h1 {
    font-size: 30px;
  }

  #howItWorks p,
  #wasCreatedFor p,
  #appDescription p {
    font-size: 15px;
  }

  #smartphone {
    display: none;
  }
}
