<div class="d-flex h-100 w-100" id="audioContainer">
  <div class="col-1 d-flex justify-content-center align-items-center">
    <audio #audio [src]="" class="d-none" (timeupdate)="showProgress(audio)" (ended)="resetAudioControls(audio)"></audio>
    <span *ngIf="isPaused" class="mdi mdi-play-circle toggle-play lh-1 my-1" (click)="togglePlay(audio)" [ngClass]="mode === filePreviewMode.preview ? 'player-color-light' : 'player-color-dark'"></span>
    <span *ngIf="!isPaused" class="mdi mdi-pause-circle toggle-play lh-1 my-1" (click)="togglePlay(audio)" [ngClass]="mode === filePreviewMode.preview ? 'player-color-light' : 'player-color-dark'"></span>
  </div>
  <div class="col-8 col-sm-9 d-flex align-items-center pl-1">
    <div class="h-75 w-100">
      <div class="w-100 d-flex align-items-center overflow-hidden" id="audioNameContainer" [style.height.%]="isControlsVisible ? 65 : 95">
        <a #a [href]="" class="text-decoration-none" id="audioNameLink" download="{{audioFile.name}}" (click)="setFileUrl(audioFile, 'audio', a)">
          <span class="text-nowrap" id="audioName" [ngClass]="mode === filePreviewMode.preview ? 'text-light' : 'dark-color-text'">{{audioFile.name}}</span>
        </a>
      </div>
      <div *ngIf="isControlsVisible" class="w-100 d-flex align-items-start" id="progressContainer">
        <input type="range" min="0" max="{{audio.duration.toFixed(2)}}" step="0.01" [(ngModel)]="audioProgress" (input)="changeAudioProgress(audio)"
               [ngClass]="mode === filePreviewMode.preview ? 'light-mode' : 'dark-mode'">
      </div>
    </div>
  </div>
  <div class="col-3 col-sm-2 d-flex align-items-center">
    <div class="h-75 w-100">
      <div class="w-100 d-flex justify-content-end align-items-center" id="currentTimeContainer" [style.height.%]="isControlsVisible ? 65 : 95">
        <span *ngIf="!isPlayStarted" class="current-time mt-1" [ngClass]="mode === filePreviewMode.preview ? 'player-color-light' : 'dark-color-text'">
          {{audio.duration ? (audio.duration | secondsToTime: 'audioPlayer') : '00:00'}}
        </span>
        <span *ngIf="isPlayStarted" class="current-time" [ngClass]="mode === filePreviewMode.preview ? 'player-color-light' : 'dark-color-text'">{{audio.currentTime | secondsToTime: 'audioPlayer'}}</span>
      </div>
      <div *ngIf="isControlsVisible" class="w-100 h-25 d-flex align-items-start" id="volumeContainer">
        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="volume" (input)="changeVolume(audio)" [ngClass]="mode === filePreviewMode.preview ? 'light-mode' : 'dark-mode'">
      </div>
    </div>
  </div>
</div>
