<div class="modal-header">
  <h6 class="modal-title"><span> Добавление видео </span></h6>
  <button type="button" class="close" aria-label="Close" (click)="cancel('crossButton')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <span class="font-weight-light description-text"> Ссылка на видео: </span>
  <!--<input type="text" class="form-control mt-3" [(ngModel)]="fileUrl" (input)="getContentFromUrl()" [disabled]="disabled" placeholder="https://" autofocus>-->
  <span *ngIf="isBrokenUrl" class="alert-text"><small> Ссылка должна начинаться с "https://" или "http://" </small></span>
  <video *ngIf="fileUrlReady.length > 0" class="w-80 mx-auto" [src]="fileUrlReady | safeUrl"></video>
</div>
<div *ngIf="fileUrl">
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="ok('okButton')"> Ok </button>
    <button type="button" class="btn btn-primary" (click)="cancel('cancelButton')"> Cancel </button>
  </div>
</div>
