<div id="wrapper" class="w-100 h-100">

  <app-toasts class="toasts-container mr-2"></app-toasts>

  <ngb-progressbar class="pbar w-100" type="primary" height="7px" [value]="progressBarValue" [hidden]="isHidden"></ngb-progressbar>

  <div id="restorePasswordContainer" class="col-10 col-sm-8 col-lg-6 mx-auto">
    <h3 class="text-center mt-5"> Восстановление пароля: </h3>
    <div *ngIf="step === 1" class="col-12">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <form #restorePasswordForm="ngForm" class="w-100" id="restorePasswordForm" (ngSubmit)="onSubmit(restorePasswordForm)" novalidate>
          <label for="email" class="mt-2"> Введите email: </label>
          <br>
          <input #email="ngModel" class="form-control" [ngClass]="{'submit-error': restorePasswordForm.submitted}" type="text" name="email" id="email"
                 placeholder="Введите email" [(ngModel)]="validateKeyParams.email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 (keydown.enter)="onSubmit(restorePasswordForm)" maxlength="300" />
          <div class="justify-content-center">
            <div *ngIf="email.invalid && (email.touched || restorePasswordForm.submitted)">
              <div *ngIf="email.errors?.required">
                <span class="alert-text">Введите email</span>
              </div>
              <div *ngIf="email.errors?.pattern">
                <span class="alert-text">Неправильный формат email</span>
              </div>
            </div>
          </div>
          <label for="key" class="mt-2">
            Введите ключ для сброса пароля
            <i class="mdi mdi-lg mdi-help-circle-outline" placement="top" ngbTooltip="Ключ можно задать в профиле пользователя"></i>:
          </label>
          <br>
          <input #key="ngModel" class="form-control" [ngClass]="{'submit-error': restorePasswordForm.submitted}" type="text" name="key" id="key"
                 placeholder="Введите ключ" [(ngModel)]="validateKeyParams.key" (keydown.enter)="onSubmit(restorePasswordForm)" required pattern="^.{1,30}$" maxlength="31" />
          <div class="justify-content-center">
            <div *ngIf="key.invalid && (key.touched || restorePasswordForm.submitted)">
              <div *ngIf="key.errors?.required">
                <span class="alert-text">Введите ключ</span>
              </div>
              <div *ngIf="key.errors?.pattern">
                <span class="alert-text"> Ключ не может быть длиннее 30ти символов </span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" form="restorePasswordForm" class="btn dark-login-button mt-4" id="restorePasswordFormButton" [disabled]="isKeyValidationProcess">
              <span class="dark-color-text text-nowrap"> Далее -> </span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="step === 2" class="col-12">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <change-password [authUserInfo]="authUserInfo" [mode]="changePasswordMode.restore" (changePasswordResult)="getChangedPasswordResult($event)"
                         (changePasswordProgress)="showProgressBar($event)"></change-password>
      </div>
    </div>
  </div>
</div>
